doctype html
html
    include includes/_head
    body
        div
            nav.navbar.navbar-default.navigation-clean
                .container
                    .navbar-header
                        h1.main_name(href='#') A.J. Longstreet
                        button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navcol-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    #navcol-1.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li.dropdown
                                a.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', href='#')
                                    h4 About Me
                                    span.caret
                                ul.dropdown-menu(role='menu')
                                    li(role='presentation')
                                        a(href='#') Coming Soon
                                    li(role='presentation')
                                        a(href='#') Coming Soon
                                    li(role='presentation')
                                        a(href='#') Coming Soon
        .projects-clean
            .container
                .intro
                    h2.text-center Projects
                    img.img-responsive.profile_pic(src='assets/img/profile_pic.jpg')
                    h3.text-center Here are a few of the projects I've been working on
        .proj-wrapper
            .proj.proj-1
                img(src='assets/img/quote.png', alt='Quote Generator')
                span.overlay
                    h2 Quote Generator
                    a(href='../quotes/index.html') View Project
                    a(href='https://github.com/MisterAJ/Random-Quote-Generator') Source Code
            .proj.proj-2
                img(src='assets/img/building.jpg', alt='Building')
                span.overlay
                    h2 Building
                    a(href='#') View Project
                    a(href='#') Source Code
            .proj.proj-3
                img(src='assets/img/loft.jpg', alt='Loft')
                span.overlay
                    h2 Loft
                    a(href='#') View Project
                    a(href='#') Source Code
        include includes/_footer

